.create {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  max-height: 1024px;
  flex-shrink: 0;
  background-size: cover;

  .background {
    width: 100%;
    height: 100%;
    margin: 60px 0px;
    min-height: 900px;
    max-width: 1400px;
    max-height: 900px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1;

    .gameBar {
      padding: 40px;
      z-index: 2;
      background-color: none;
      display: flex;
      justify-content: space-between;

      .logo {
        margin: 0;
        color: white;
        font-family: Jura;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .container {
      gap: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .userBox {
        display: flex;
        flex-direction: column;

        .user {
          width: 200px;
          height: 70px;
          background-color: #fff;
          border-radius: 6px;
          margin-bottom: 20px;

          p {
            margin: 0;
          }
        }
      }

      .gameBox {
        gap: 10px;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;

        .settingBox {
          .linkCopyBtn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #425d88;
            border: none;
            border-radius: 30px;
            width: 800px;
            height: 70px;
            flex-shrink: 0;
            margin-top: 30px;

            span {
              padding: 0px 30px;
              align-self: center;
              color: #fff;
              font-family: Itim;
              font-size: 25px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }

            .linkBtn {
              text-decoration-line: underline;
              cursor: pointer;
            }
          }

          .canvas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 800px;
            height: 600px;
            background-color: #fff;
            border-radius: 6px;

            .check {
              gap: 130px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              margin-bottom: 36px;

              p {
                color: #666;
                font-size: 18px;
                font-weight: 600;
                line-height: normal;
                width: 100px;
              }

              .selectBox {
                padding: 5px;
                font-size: 25px;
                width: 400px;
                height: 50px;
              }
            }

            button {
              color: #fff;
              text-align: center;
              margin-top: 200px;
              font-size: 30px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              width: 500px;
              height: 60px;
              border: none;
              border-radius: 30px;
              background-color: #e08395;
            }
          }
        }

        .chatroom {
          width: 300px;
          height: 700px;
          background-color: #fff;
          border-radius: 6px;
        }
      }
    }
  }
}
